body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.breadcrumb {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  padding: 0;
  max-width: 100%;
}
.breadcrumb li {
  float: left;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  max-width: 100%;
}
.breadcrumb li:first-child {
  margin-left: -20px;
}
.breadcrumb li span {
  color: #fff;
  display: block;
  text-decoration: none;
  position: relative;
  padding: 10px 10px 10px 5px;
  text-align: center;
  margin-right: 23px;
}
.breadcrumb li:first-child span {
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
}
.breadcrumb li:first-child span:before {
  border: none;
}
.breadcrumb li:last-child span {
  padding-right: 15px;
  border-radius: 0 4px 4px 0;
}
.breadcrumb li:last-child span:after {
  border: none;
}
.breadcrumb li span:before, .breadcrumb li span:after {
  content: "";
  position: absolute;
  top: 0;
  border: inherit;
  border-width: 17px 10px;
  width: 0;
  height: 0;
}
.breadcrumb li span:before {
  left: -20px;
  border-left-color: transparent;
}
.breadcrumb li span:after {
  left: 100%;
  border-color: transparent;
  border-left-color: inherit;
}

.breadcrumb li.only {
  padding-right: 20px;
}